:root {
    --primary-color: #F67928;
}

:root[data-bs-theme=dark] {
    --bs-body-bg: #121212;
    --bs-body-bg-rgb: 18, 18, 18;
    --bs-border-color: #ffffff1a;
    --bs-border-color-translucent: #ffffff1a;

    --body-bg: #000;
    --subtitle-color: #8D8D8D;

    scrollbar-color: #3B3B3B transparent;
}

:root[data-bs-theme=light] {
    --body-bg: #F5F5F5;
    --subtitle-color: #717171;

    scrollbar-color: #C2C2C2 transparent;
}

body {
    padding: 10px;
    background: var(--body-bg);
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title, .title-1 {
    font-size: 1.25rem;
}

.title-2 {
    font-size: 1.1rem;
}

.title-3, .title-3-bold {
    color: var(--subtitle-color);
    font-size: .9rem;
    font-weight: 400;
}

.title, .title-1, .title-2, .title-3-bold {
    /* font-weight: 500; */
    font-weight: bold;
}

.btn, .btn-outline {
    i {
        font-size: 15pt;
        color: var(--bs-secondary-color);
    }

    svg {
        height: 20px;
        width: 20px;
    }
}

.btn.primary {
    background-color: var(--primary-color);
    color: #ffff;
}

.btn-outline {
    background-color: transparent;
    border: .5px solid var(--bs-border-color);
    border-radius: var(--bs-btn-border-radius);
    font-size: 11pt;
}

.btn-outline-active {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:has(svg) {
    padding: .5rem;
}

.btn-rotate {
    transition: transform 0.5s ease;
    display: inline-block;
}

.btn-rotated {
    transform: rotate(180deg);
}

.dropdown-item:active, .dropdown-item.active {
    background-color: var(--primary-color);
}

[class^="form"].required {
    border-color: #a70909;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25);
}

.table {
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead th {
    background-color: #f8f9fa;
    font-weight: 500;
    padding: 15px;
}

.table tbody td {
    vertical-align: middle;
    padding: 15px;
    color: #666;
}

.table tbody tr td:first-child {
    font-weight: bold;
    color: #000;
}

.table tbody tr:last-child td {
    border: none;
}

.icon-progress, .icon-not-progress {
    width: 20px !important;
}

.card-counter {
    background-color: var(--bs-border-color);
    border-radius: 50%;
    min-width: 29px;
}